.posts {
  color: black;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 20px;
  margin: 20px 3%;
}

.posts a{
  color: black;
}

#posts_container article {
  background: var(--background-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
}

#posts_container article img{
  border-radius: 15px 15px 0 0;
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.post_info {
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}


@media screen and (max-width: 1024px){
  .posts {
    grid-template-columns: repeat(2, 2fr);
  }
}


@media screen and (max-width: 680px){
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}
