#post_container .post_head{
  margin: 0 12%;
  margin-bottom: 10px;
}

#post_container .post_head img {
  border-radius: 50%;
  width: 30px;
}

.post_head_user {

  display: flex;
  align-items: center;
  gap: 10px;
}

#post_container .post_content{
  display: flex;
  justify-content: center;
  margin: auto 10%;
  gap: 20px;
}

.post_content article {
  width: 30%;
  height: 0%;
  padding-left: 3%;
  background: var(--background-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  padding-top: 2%;
  padding-bottom: 2%;
}

#post_container img {
  width: 60%;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
}

#post_container hr {
  margin: 30px 0;
}

.post_buttons {
  margin-top: 5%;
}

.post_buttons button {
  width: 40%;
}

.post_price_star{
  display: flex;
  gap: 20px;
}

.post_detail {
  margin-top: 30px;
  margin-left: 12%;
  margin-right: 12%;
}

.post_detail p{
  font-size: 15px;
}

.post_reviews {
  margin: 30px 12% 30px 12%;
}

.post_reviews_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.post_reviews_container article {
  height: 200px;
}

.post_reviews_container article p {
  margin: 10px 0;
  width: 80%;
  font-size: 14px;
}

.post_description_title {
  font-size: 20px;
  color: var(--green);
  margin: 20px 0;
}


@media screen and (max-width: 1024px){
  .post_reviews_container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width: 680px){
  #post_container .post_content{
    flex-direction: column;
  }

  .post_content article {
    width: 100%;
  }

  #post_container img {
    width: 100%;
  }

  .post_reviews_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
