#post_container .post_head{
  margin: 0 12%;
  margin-bottom: 10px;
}

#post_container .post_content{
  display: flex;
  justify-content: center;
  margin: auto 10%;
  gap: 20px;
}

#post_container article {
  width: 30%;
  height: 0%;
  /* margin-top: 15%; */
  padding-left: 3%;
  background: var(--background-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  padding-top: 2%;
  padding-bottom: 2%;
}

#post_container img {
  width: 60%;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
}

.post_buttons {
  margin-top: 5%;
}

.post_buttons button {
  width: 40%;
}

.post_price_star{
  /* margin-top: 3%; */
  display: flex;
  gap: 20px;
}

.post_detail {
  margin-top: 10px;
  margin-left: 12%;
}

.post-info {

}
