.chat_box {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--text-grey);
  /* background: antiquewhite; */
}

.empty_chat_box {
  width: 100%;
  height: 600px;
  border: 1px solid var(--text-grey-light);
  /* background: antiquewhite; */
}

.chat_box_message {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.sender_message {
  max-width: 70%;
  align-items: end;
  margin: 10px 4% 10px auto;
  display: flex;
  gap: 10px;
}

.sender_message .message{
  padding: 10px;
  border-radius: 15px 15px 0 15px;
  background: white;
}

.sender_message img {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.reciever_message {
  max-width: 70%;
  align-items: end;
  margin: 10px auto 10px 4%;
  display: flex;
  gap: 10px;
}

.reciever_message .message{
  padding: 10px;
  border-radius: 15px 15px 15px 0;
  background: var(--green);
}

.reciever_message img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.chat_box_message time {
  font-size: 13px;
  color: var(--text-grey);
}

.message_form {
  position: relative;
  display: flex;
  width: 80%;
  bottom: 2px;
  /* height: 20px; */
}

.message_form textarea {
  width: 100%;
  /* padding: 12px; */
  border-radius: 15px;
  border: 3px solid var(--text-grey);
  resize: none;
  overflow: hidden;
  outline: 0;

}

.message_form button {
  position: absolute;
  border-radius: 13px;
  right: 5px;
  top: 5px;
  border: none;
  width: 50px;
  font-size: 20px;
  background-color: var(--green);
  padding: 6px;
  color: var(--green);
  color: white;
  cursor: pointer;
}

.message_form button:hover {
  background-color: green;
}


@media screen and (max-width: 1024px){

}


@media screen and (max-width: 600px){

}
