
#user_container {
  height: 100vh;
  text-align: center;
}

.user_container_actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user_container_navbox {
  margin-top: 10px;
  height: 90%;
}

.user_container_navbox img{
  width: 20%;
}

.user_container_navbox a{
  color: black;
}

.user_posts_container {
}
